@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/******* custom class of given color in figma *******/
.orange {
    color: #E77C40;
}

/******* Review color custom *******/
.star {
    color: #E77C40;
    margin-bottom: 15px;
}

.client-name-color {
    color: #23A6F0;
}

/******* Font Size and Weight cutomize *******/
.accordion strong {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.accordion strong {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/******* Font *******/
.font-14 {
    font-weight: 600;
    font-size: 14px;
}

.font-28 {
    font-weight: 600;
    font-size: 28px;
}

.font-48 {
    font-weight: 600;
    font-size: 48px;
}

.font-500 {
    font-weight: 500;
    font: 16px;
}

/******* Header *******/
header {
    background-color: #264653;
    color: #fff;
}

/******* Button *******/
.btn-login {
    padding: 10px 24px;
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.btn-purchase {
    padding: 10px 46px;
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.btn-readMore {
    padding: 15px;
    border: 1px solid #E76F51;
    font-size: 18px;
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.btn-readMore:hover {
    background-color: transparent;
    border: 1px solid #E76F51;
    color: #E76F51;
}

/******* Custom Margin Padding *******/
.honda-pb-90 {
    padding-bottom: 90px;
}

.honda-mb-120 {
    margin-bottom: 120px;
}

.honda-mb-50 {
    margin-bottom: 50px;
}

.honda-mt-64 {
    margin-top: 64px;
}

.honda-mt-160 {
    margin-top: 160px;
}

.honda-grayscale {
    filter: grayscale(100%);
}

.honda-img-149 {
    width: 149px;
}

/******* Carousel *******/
.carousel-item {
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.carousel-item.item-1 {
    background: url('images/carousel/cbr-1.jpg') no-repeat center;
    background-size: cover;
}

.carousel-item.item-2 {
    background: url('images/carousel/cbr-2.jpg') no-repeat center;
    background-size: cover;
}

.carousel-item.item-3 {
    background: url('images/carousel/cbr-3.jpg') no-repeat center;
    background-size: cover;
}

/******* Footer *******/
footer {
    margin-top: 160px;
    background-color: #0B0D17;
    padding: 56px;
}

/* Media Query */
@media screen and (min-width: 720px) {
    .honda-ms-100 {
        margin-left: 100px;
    }

    .honda-ps-55 {
        padding-left: 55px;
    }

    .honda-container-sm {
        width: 1054px;
    }
}

@media screen and (max-width: 720px) {
    .honda-pt-56 {
        padding-top: 56px;
    }

    .honda-md-pb-34 {
        padding-bottom: 34px;
    }

    .honda-mt-110 {
        margin-top: 110px;
    }

    .font-md-36 {
        font-weight: 600;
        font-size: 36px;
    }
}